# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.env
*.env.local

# Node
node_modules/
.nuxt/
.output/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Docker
ollama_data/
